[Unit]
Description=krobot-game
Requires=krobot-hub.service

[Service]
ExecStart=/home/krobot/.opam/4.02.1/bin/krobot-game
User=krobot

[Install]
WantedBy=multi-user.target
